/* Основные стили для сайта */
.navbar-inverse {
  background-color: #252a33;
}

body {
  padding-top: 70px;
  background-color: #1f232a;
  color: #fff;
}

.content {
  text-align: left;
  margin-left: auto;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

p {
  font-family: verdana, Times, Sans-serif;
  color: #bbb;
}

p {
  text-align: center;
  font-family: "Verdana", Times, Sans-serif;
  margin-bottom: 25px; /* Добавлен отступ снизу для текста */
  margin-top: 25px;
}

/* Стили для блока с героем */
#hero-wrapper {
  margin-top: 25px;
  display: none;
}

#hero-name {
  font-size: 18px;
  color: #FFFFFF;
}

/* Стили для контейнера с билдом */
#build-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Стиль для иконок предметов */
#build-container img {
  width: 100px;  /* Увеличиваем ширину */
  height: 76px;  /* Уменьшаем высоту для прямоугольного вида */
  margin: 15px;
  object-fit: cover;  /* Чтобы изображения сохраняли пропорции и не искажались */
  transition: box-shadow 0.3s ease; /* Плавное изменение свечения */
}

/* Эффект свечения при наведении на иконку предмета */
#build-container img:hover {
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.8); /* Синее свечение */
}


/* Стиль для кнопки */
/* Стиль для кнопки */
.button {
  background-color: #007bff !important; /* Синий цвет для кнопки */
  border: none;
  color: white;
  padding: 12px 24px; /* Уменьшаем кнопки */
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Светящееся свечение синее */
  margin-top: 20px; /* Добавлен отступ сверху для кнопки */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Плавное изменение для цвета и свечения */
}

/* Эффект при наведении */
.button:hover {
  background-color: #0056b3 !important; /* Темно-синий цвет при наведении */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8); /* Усиленное свечение синее */
}

/* Эффект при нажатии */
.button:active {
  background-color: #007bff !important; /* Оставляем синий цвет при нажатии */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Обычное свечение */
}

/* Эффект при фокусе (например, если кнопка активирована через клавишу) */
.button:focus {
  outline: none; /* Убираем стандартное обводку при фокусе */
  background-color: #007bff !important; /* Оставляем синий цвет при фокусе */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.8); /* Усиленное свечение при фокусе */
}

/* Стили для кнопок Bootstrap */
.btn {
  background-color: #007bff !important; /* Убедитесь, что кнопки Bootstrap не меняют цвет */
  border-color: #007bff !important;
}

/* Ожидаемые стили при наведении для кнопок Bootstrap */
.btn:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}
